.App {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-start {
    justify-content: start;
}

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-1 {
    flex: 1;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.align-self-center {
    align-self: center;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}
