@font-face {
    font-family: 'Helvetica Bold';
    src: url('../fonts/Helvetica-Bold.ttf') format('ttf');
    font-weight: 300 900;
    font-display: swap;
    font-style: bold;
}

@font-face {
    font-family: 'Helvetica BoldOblique';
    src: url('../fonts/Helvetica-BoldOblique.ttf') format('ttf');
    font-weight: 300 900;
    font-display: swap;
    font-style: bold;
}

@font-face {
    font-family: 'Helvetica Compressed';
    src: url('../fonts/helvetica-compressed-5871d14b6903a.otf') format('otf');
    font-weight: 300 900;
    font-display: swap;
    font-style: bold;
}

@font-face {
    font-family: 'Helvetica Light';
    src: url('../fonts/helvetica-light-587ebe5a59211.ttf') format('ttf');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Oblique';
    src: url('../fonts/Helvetica-Oblique.ttf') format('ttf');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Rounded Bold';
    src: url('../fonts/helvetica-rounded-bold-5871d05ead8de.otf') format('otf');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf') format('ttf');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}