@import '@/styles/scss/_variables';

// Flex Mixins

@mixin flex {
    display: flex;
}

@mixin flex-column {
    @include flex;
    flex-direction: column;
}

@mixin flex-center {
    @include flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
}

@mixin flex-center-vert {
    @include flex;
    align-items: center;
}

@mixin flex-start-vert {
    @include flex;
    align-items: flex-start;
}

@mixin flex-end-vert {
    @include flex;
    align-items: flex-end;
}

@mixin flex-center-horiz {
    @include flex;
    justify-content: center;
}

@mixin flex-start-horiz {
    @include flex;
    justify-content: flex-start;
}

@mixin flex-end-horiz {
    @include flex;
    justify-content: flex-end;
}

@mixin flex-1 {
    flex: 1;
}

// Media Query Mixin

@mixin mobile {
    @media only screen and (max-width: ($mobile * 1px)) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: ($tablet * 1px)) {
        @content;
    }
}

@mixin large {
    @media only screen and (max-width: ($large * 1px)) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (max-width: ($desktop * 1px)) {
        @content;
    }
}