// Color Variables

$main-color: #e87e04;

$danger: rgb(246, 57, 57);
$warning: rgb(250, 250, 110);
$success: rgb(95, 230, 95);

$button-text-color: #fff;

// $button-background-color: ("dark": #343a40);
// $button-background-color: ("dark": #343a40);

$scroll-color: #d6dee1;
$scroll-hover-color: #a8bbbf;

$auth-layout-color: #e5e2e2;

// Height & Width

$fullWidth: 100%;
$fullHeight: 100%;

// Overflow

$overflowY: hidden;


// Media Query Variables

$mobile: 480;
$tablet: 768;
$large: 1024;
$desktop: 1280;