body {
    margin: 0;
    height: 100%;
    font-family: 'Helvetica';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}

html,
#root {
    height: 100%;
}

.App {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url('@/fonts/Helvetica-Bold.ttf') format('ttf');
    font-weight: 300 900;
    font-display: swap;
    font-style: bold;
}

@font-face {
    font-family: 'Helvetica BoldOblique';
    src: url('@/fonts/Helvetica-BoldOblique.ttf') format('ttf');
    font-weight: 300 900;
    font-display: swap;
    font-style: bold;
}

@font-face {
    font-family: 'Helvetica Compressed';
    src: url('@/fonts/helvetica-compressed-5871d14b6903a.otf') format('otf');
    font-weight: 300 900;
    font-display: swap;
    font-style: bold;
}

@font-face {
    font-family: 'Helvetica Light';
    src: url('@/fonts/helvetica-light-587ebe5a59211.ttf') format('ttf');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Oblique';
    src: url('@/fonts/Helvetica-Oblique.ttf') format('ttf');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Rounded Bold';
    src: url('@/fonts/helvetica-rounded-bold-5871d05ead8de.otf') format('otf');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('@/fonts/Helvetica.ttf') format('ttf');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}